#About {
    animation-name: changePage;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

.presentation {
    max-width: 700px;
    width: 90%;
    margin: 100px auto 30px;
    text-align: center;
}

.presentation p {
    text-align: center;
    margin-top: 20px;
}

.testemonials {
    max-width: 950px;
    margin: 100px auto;
    text-align: center;
}

.testemonials .people {
    display: grid;
    list-style: none;
    margin-top: 80px;
    text-align: center;
    grid-template-columns: repeat(4, 25%);
}

.testemonials img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

.testemonials li {
    margin: 0 10%;
}

.testemonials .tes-name {
    font-size: 15px;
}

.testemonials .tes-occup {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 10px;
}

.testemonials .tes-message {
    font-size: 13px;
}

@media only screen and (max-width: 900px) {
    .testemonials .people {
        display: grid;
        list-style: none;
        margin-top: 40px;
        text-align: center;
        grid-template-columns: repeat(2, 50%);
    }
    .testemonials {
        width: 90%;
        margin: 100px auto 30px;
    }
    .testemonials li {
        margin: 35px 10%;
    }
}

@media only screen and (max-width: 450px) {
    .testemonials .people {
        margin-top: 10px;
        grid-template-columns: repeat(1, 100%);
    }
}