footer {
    padding-bottom: 30px;
    text-align: center;
}

footer ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    width: 60%;
    margin: 150px auto 20px;
}

footer li {
    margin: 0 5px;
}

footer img {
    max-width: 45px;
}

@media only screen and (min-width: 450px) {
    footer ul {
        width: 31%;
    }
}

@media only screen and (min-width: 800px) {
    footer ul {
        width: 20%;
        margin-bottom: 40px;
    }
}