@keyframes signShowing {
    from {
        opacity: 0;
        box-shadow: none;
    }
    to {
        opacity: 1;
        box-shadow: box-shadow ease-in-out 800ms;
    }
}

.signing-card {
    width: 50vw;
    max-width: 380px;
    position: fixed;
    z-index: 6;
    height: auto;
    left: 50%;
    top: 200px;
    margin: 0 !important;
    transform: translateX(-50%);
    text-align: center;
    animation-name: signShowing;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 10px 100vh rgba(0, 0, 0, 0.4);
}

.signing-card h1 {
    margin: 30px auto;
    font-size: 150%;
}

.signing-card input {
    width: calc(80% - 24px);
    height: 30px;
    margin: 10px auto;
    padding: 0 12px;
    color: #f2f2f2;
}

.signing-card .cards-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.signing-card .card-button {
    margin-left: 50%;
    font-size: 80%;
    min-width: 60px;
    cursor: pointer;
}

.signing-card .link {
    font-size: 80%;
    margin-top: 50px;
    margin-left: 15px;
    text-align: left;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .signing-card {
        width: 85%;
        margin-bottom: 100px;
        top: 30px
    }
    .signing-card .link {
        margin-left: 15%;
    }
    .signing-card .card-button {
        margin-left: 35%;
    }
}