#itemsPosted {
    width: 90%;
    margin: 0 5%;
}

#itemsPosted .txt-head {
    position: relative;
    width: max-content;
    padding-bottom: 30px;
}

#itemsPosted .txt-head::after {
    content: "";
    width: 37px;
    height: 43px;
    top: 0;
    right: -51px;
    background-size: 30px;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("../../assets/change.png");
}

#itemsPosted .card {
    transition: cubic-bezier(.73, .35, .23, .98) 400ms;
}

#itemsPosted .card img {
    width: 100%;
    height: 135px;
    object-fit: cover;
}


/* cards clicked */

#close-card-button {
    width: 20px;
    height: 20px;
    display: none;
    cursor: pointer;
    margin-left: 193px;
    margin-top: -5px;
    transition: ease-in-out 300ms;
}