#itemsPosted {
    width: 90%;
    margin: 0 5%;
}

#itemsPosted .txt-head {
    position: relative;
    width: max-content;
    padding-bottom: 30px;
}

#itemsPosted .txt-head::after {
    content: "";
    width: 37px;
    height: 43px;
    top: 0;
    right: -51px;
    background-size: 30px;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("../../assets/change.png");
}

#itemsPosted .card {
    transition: cubic-bezier(.73, .35, .23, .98) 400ms;
}

#itemsPosted .card img {
    width: 100%;
    height: 135px;
    object-fit: cover;
    transition: 500ms ease-in-out 20ms;
}


/* cards clicked */

#close-card-button {
    width: 20px;
    height: 20px;
    display: none;
    cursor: pointer;
    margin-left: 193px;
    margin-top: -5px;
    transition: ease-in-out 300ms;
}


/* classes to be applied when card is clicked */

.card .grownImage {
    height: 290px !important;
}

.card.grown {
    height: 700px !important;
}


/* styles for the cards when it expands */

#cardAdditionalData {
    transition: 200ms ease-in-out 100ms;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#cardAdditionalData .card-txt-body {
    margin-left: 12%;
}

#cardAdditionalData .characs-holder {
    margin-top: -100px;
    grid-column: 1;
    grid-row: 2;
    margin-left: 6%;
}

#cardAdditionalData .charac-info {
    width: 30%;
    font-size: 12px;
    margin-left: 6%;
}

#cardAdditionalData .last-bid-info {
    font-size: 13px;
}

.bidding-in-card .current-bidding-value,
.bidding-in-card .last-bid-info {
    margin-left: 6%;
    font-weight: 600;
}

.bidding-in-card {
    margin-left: 30%;
    margin-top: -50px;
}

.bidding-in-card .card-head {
    margin-bottom: 0;
}

.current-bidding-value {
    font-size: 150%;
    margin-bottom: 20px;
    color: #D08484;
}

.card-head.grown-head {
    margin-top: 40px;
    width: 60%;
}

.bidding-input-outer {
    margin-left: 6%;
}

.bidding-input-outer input {
    margin-top: 40px;
    height: 30px;
    color: #f2f2f2;
    font-size: 16px;
    padding-left: 10px;
}

.bidding-input-outer input:focus {
    outline: 0;
}