@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #272739;
    color: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}


/* colors for elements, text and background */

.bg-cl {
    background-color: #272739;
}

.whit-cl {
    color: #f2f2f2;
    background-color: #f2f2f2;
}

.high-cl {
    background-color: #D08484;
}

.el-cl {
    background-color: #4F4F76;
}

.el2-cl {
    background-color: #5F5F9C;
}

.over-elem-cl {
    background-color: rgba(255, 255, 255, 0.4);
}

.shadow {
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.08);
}


/* elements shapes */

.round {
    border-radius: 7px;
}

div {
    font-family: 'Poppins', sans-serif;
}

.link {
    color: #f2f2f2;
    text-decoration: underline;
}

.txt-head {
    font-size: 20px;
    font-weight: 700;
}

.txt-body {
    font-size: 12px;
    font-weight: 400;
}

.txt-high {
    font-size: 14px;
    font-weight: 700;
}

.circle {
    border-radius: 50%;
}


/* dark blur */

.blur {
    background-color: rgba(0, 0, 0, 0);
}

.blur.active {
    filter: blur(10px) brightness(0.6);
    transition: ease-in-out 400ms;
}

.transition {
    transition: ease-in-out 400ms;
}